<ul style="list-style-type:none">

  {{#each emotes}}
    <li>
      <img src={{url}} alt="Associated Emote IMG"></img>
      <p>Anger: {{anger}}</p>
      <p>Contempt: {{contempt}}</p>
      <p>Disgust: {{disgust}}</p>
      <p>Fear: {{fear}}</p>
      <p>Happiness: {{happiness}}</p>
      <p>Neutral: {{neutral}}</p>
      <p>Sadness: {{sadness}}</p>
      <p>Surprise: {{surprise}}</p>
      <button data-planid="{{this.id}}" class="delplan">Delete Emote!</button>
    </li>
  {{/each}}
</ul> 
